<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <bar-chart width="400" height="400"></bar-chart>
        </div>
        <div class="col-md-6">
            <h1>Ebola Appeal</h1>
            <p>If contracted, Ebola is one of the world’s most deadly diseases. This highly infectious virus can kill over 50 percent of the people who catch it, causing terror among infected communities.</p>
            <p>According to the WHO, there will be at least 10000 new cases every week by December</p>
            <p>People can be infected for weeks without showing symptoms, making it much harder to contain.</p>
            <p>In certain regions the number of cases has been doubling roughly every 3-4 weeks</p>
            <p>GSK estimates that there won't be vaccine until 2016</p>
            <p>Deployment of international aid is taking place in the three main countries affected. However, there is little indication that current efforts to increase capacity to isolate and take care of suspected and confirmed Ebola cases is addressing needs sufficiently.</p>
            <p>it’s widely known that the real situation is much worse than the numbers show because many cases don't make it into the official statistics. Underreporting occurs in every disease outbreak anywhere, but keeping track of Ebola in Guinea, Liberia, and Sierra Leone has been particularly difficult. And the epidemic unfolds, underreporting appears to be getting worse.</p>
            <p>Growth in Liberia appears to be slowing down, but this is more likely to be an artifact of an overwhelmed healthcare system than an indicator of reduced transmission.</p>
            <p>The future is highly uncertain. What we do know is that this is a global problem that requires an unprecedented global campaign</p>
            <li><a href="#/home">Home</a></li>
            <a href="http://healthmap.org/ln.php?2766676">Hello</a>
        </div>
    </div>
</div>